h2{
    text-align: center;
}
h2::after{
    display: block;
    height: 2px;
    background-color: green;
    width: 100px;
    content: '';
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 2em;
}
#image_et_titre{
    background-image: url(./ressources/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    background-size: cover;
    margin-bottom: 2em;
}
#image_et_titre h1{
    color: antiquewhite;
}
.container img{
    height: 10rem;
    padding: 1em;
}
.container{
    background-color: #003e52;
}
footer {
    background-color: #003e52;
    color: white;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }